.wrapper {
    display: grid;
    height: 5rem;
    background-color: rosybrown;
    align-items: center;
    grid-template-columns: 4fr 1fr;
    justify-content: space-around;
}


.input {
    height: 2rem;
    margin: 0 2rem ;
    border-radius: 4px;
    outline: none;
}

.input:focus {
    border: 3px solid red;
    outline: none;
}

.button {
    justify-self: center;
    width: 7rem;
}