.overlay{
    padding: 1rem;
}

.posts{
    margin-top: 1rem;
}
h2{
    text-align: center;
}

.field{
    width: 50rem;
    resize: none;
}



.formContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

