.nav {
    padding: 2rem;
    height: auto;
}

.item a{
    box-sizing: content-box;
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

.item a:hover {
    color: blue;
}

.item a.activeLink{
    color: yellow;
    min-width: 85%;
    background: #1a6eaa;
    border-radius: 5px;

}